---
import { getEntry } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

const home = await getEntry('home', 'index');
if (!home) throw new Error('Missing content/home/index.yaml entry');
const {
	heroSlides,
	aboutHeading,
	aboutBody,
	ctaLabel,
	ctaUrl,
	officeHeading,
	officeName,
	officeAddress,
	officeMapUrl,
	officePhoneLabel,
	officePhoneNumber,
} = home.data;

const schemaGraph = JSON.stringify({
	"@context": "https://schema.org",
	"@graph": [
		{
			"@type": "WebPage",
			"@id": "/",
			"url": "/",
			"name": "Home - Albert Lea Apartments",
			"isPartOf": { "@id": "https://www.aleaapts.com/#website" },
			"datePublished": "2020-03-18T14:23:11+00:00",
			"dateModified": "2024-12-30T19:48:02+00:00",
			"breadcrumb": { "@id": "/#breadcrumb" },
			"inLanguage": "en-US",
			"potentialAction": [{ "@type": "ReadAction", "target": ["/"] }]
		},
		{
			"@type": "BreadcrumbList",
			"@id": "/#breadcrumb",
			"itemListElement": [{ "@type": "ListItem", "position": 1, "name": "Home" }]
		},
		{
			"@type": "WebSite",
			"@id": "https://www.aleaapts.com/#website",
			"url": "https://www.aleaapts.com/",
			"name": "Albert Lea Apartments",
			"description": "Albert Lea Apartments",
			"potentialAction": [{
				"@type": "SearchAction",
				"target": { "@type": "EntryPoint", "urlTemplate": "https://www.aleaapts.com/?s={search_term_string}" },
				"query-input": { "@type": "PropertyValueSpecification", "valueRequired": true, "valueName": "search_term_string" }
			}],
			"inLanguage": "en-US"
		}
	]
});
---

<BaseLayout title="Home - Albert Lea Apartments" canonicalPath="/" schemaGraph={schemaGraph}>

	<div id="av_section_1" class="avia-section av-k7xfkp2v-cbedc867cd9b716e2513f42b7fdb4715 main_color avia-section-no-padding avia-no-border-styling container_wrap fullsize">
		<div class="container av-section-cont-open">
			<main role="main" itemprop="mainContentOfPage" class="template-page content av-content-full alpha units">
				<div class="post-entry post-entry-type-page post-entry-20">
					<div class="entry-content-wrapper clearfix">
						<div class="avia-slideshow av-k7xfedey-dd8669e0ece056ce670c8ce5c46e4888 avia-slideshow-featured_large av_slideshow avia-slide-slider av-slideshow-ui av-control-hidden av-no-slider-navigation av-hide-nav-arrows av-slideshow-autoplay av-loop-endless av-loop-manual-endless av-default-height-applied avia-slideshow-1"
							data-slideshow-options='{"animation":"slide","autoplay":true,"loop_autoplay":"endless","interval":6,"loop_manual":"manual-endless","autoplay_stopper":false,"noNavigation":true,"bg_slider":false,"keep_padding":false,"hoverpause":false,"show_slide_delay":0}'
							itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
							<ul class="avia-slideshow-inner" style="padding-bottom: 42%;">
								<li class="avia-slideshow-slide av-k7xfedey-dd8669e0ece056ce670c8ce5c46e4888__0 slide-1 slide-odd">
									<div data-rel="slideshow-1" class="avia-slide-wrap">
										<div class="av-slideshow-caption av-k7xfedey-dd8669e0ece056ce670c8ce5c46e4888__0 avia-caption">
											<div class="avia-inner-caption">
												<h2 class="avia-caption-title" itemprop="name">{heroSlides[0].heading}</h2>
												{heroSlides[0].body && <div class="avia-caption-content" itemprop="description" set:html={`<p>${heroSlides[0].body}</p>`} />}
											</div>
										</div>
										<img decoding="async" fetchpriority="high" class="wp-image-98" src="/wp-content/uploads/2024/12/Albert-Lea-Apartments-Complex-05-1500x630.jpg" width="1500" height="630" title="Albert Lea Apartments Complex-05" alt="" itemprop="thumbnailUrl" />
									</div>
								</li>
								<li class="avia-slideshow-slide av-k7xfedey-dd8669e0ece056ce670c8ce5c46e4888__1 slide-2 slide-even">
									<div data-rel="slideshow-1" class="avia-slide-wrap">
										<div class="av-slideshow-caption av-k7xfedey-dd8669e0ece056ce670c8ce5c46e4888__1 avia-caption">
											<div class="avia-inner-caption">
												<h2 class="avia-caption-title" itemprop="name">{heroSlides[1].heading}</h2>
												{heroSlides[1].body && <div class="avia-caption-content" itemprop="description" set:html={`<p>${heroSlides[1].body}</p>`} />}
											</div>
										</div>
										<img decoding="async" fetchpriority="high" class="wp-image-94" src="/wp-content/uploads/2024/12/Albert-Lea-Apartments-Complex-01-1500x630.jpg" width="1500" height="630" title="Albert Lea Apartments Complex-01" alt="" itemprop="thumbnailUrl" />
									</div>
								</li>
								<li class="avia-slideshow-slide av-k7xfedey-dd8669e0ece056ce670c8ce5c46e4888__2 slide-3 slide-odd">
									<div data-rel="slideshow-1" class="avia-slide-wrap">
										<div class="av-slideshow-caption av-k7xfedey-dd8669e0ece056ce670c8ce5c46e4888__2 avia-caption">
											<div class="avia-inner-caption">
												<h2 class="avia-caption-title" itemprop="name">{heroSlides[2].heading}</h2>
											{heroSlides[2].body && <div class="avia-caption-content" itemprop="description" set:html={`<p>${heroSlides[2].body}</p>`} />}
											</div>
										</div>
										<img decoding="async" fetchpriority="high" class="wp-image-96" src="/wp-content/uploads/2024/12/Albert-Lea-Apartments-Complex-03-1500x630.jpg" width="1500" height="630" title="Albert Lea Apartments Complex-03" alt="" itemprop="thumbnailUrl" />
									</div>
								</li>
							</ul>
							<div class="avia-slideshow-arrows avia-slideshow-controls">
								<a href="#prev" class="prev-slide avia-svg-icon avia-font-svg_entypo-fontello" data-av_svg_icon="left-open-big" data-av_iconset="svg_entypo-fontello" tabindex="-1" title="Previous">
									<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="15" height="32" viewBox="0 0 15 32" preserveAspectRatio="xMidYMid meet" aria-hidden="true">
										<path d="M14.464 27.84q0.832 0.832 0 1.536-0.832 0.832-1.536 0l-12.544-12.608q-0.768-0.768 0-1.6l12.544-12.608q0.704-0.832 1.536 0 0.832 0.704 0 1.536l-11.456 11.904z"></path>
									</svg>
									<span class="avia_hidden_link_text">Previous</span>
								</a>
								<a href="#next" class="next-slide avia-svg-icon avia-font-svg_entypo-fontello" data-av_svg_icon="right-open-big" data-av_iconset="svg_entypo-fontello" tabindex="-1" title="Next">
									<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="15" height="32" viewBox="0 0 15 32" preserveAspectRatio="xMidYMid meet" aria-hidden="true">
										<path d="M0.416 27.84l11.456-11.84-11.456-11.904q-0.832-0.832 0-1.536 0.832-0.832 1.536 0l12.544 12.608q0.768 0.832 0 1.6l-12.544 12.608q-0.704 0.832-1.536 0-0.832-0.704 0-1.536z"></path>
									</svg>
									<span class="avia_hidden_link_text">Next</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</main>
			<!-- close content main element -->
		</div>
	</div>

	<div id="av_section_2" class="avia-section av-1xhsg-80d8bb4b0ce93af2bd4ea856d510a5b2 main_color avia-section-default avia-no-border-styling container_wrap fullsize">
		<div class="container av-section-cont-open">
			<div class="template-page content av-content-full alpha units">
				<div class="post-entry post-entry-type-page post-entry-20">
					<div class="entry-content-wrapper clearfix">
						<div class="flex_column av-1dpis-1bca716cb42c8b2091c1606928194bff av_one_full avia-builder-el-first first flex_column_div av-zero-column-padding">
							<div class="av-special-heading av-1mfvg-8116d6e5cd8d86390d929ecede41217a av-special-heading-h2 blockquote modern-quote avia-builder-el-first">
								<h2 class="av-special-heading-tag" itemprop="headline">{aboutHeading}</h2>
								<div class="special-heading-border"><div class="special-heading-inner-border"></div></div>
							</div>
							<section class="av_textblock_section av-k7xffzav-253188b9586837fd4d8de70dbcef5b97" itemscope itemtype="https://schema.org/CreativeWork">
								<div class="avia_textblock" itemprop="text">
									<p>{aboutBody}</p>
								</div>
							</section>
							<div class="avia-buttonrow-wrap av-m5bdkrxf-6e8f918aa2cd570e4dadc77c235e4833 avia-buttonrow-center avia-builder-el-last">
								<a href={ctaUrl} class="avia-button av-m5bdjgvg-7513233ae12431285948f684dc172565 avia-icon_select-yes-left-icon avia-size-x-large avia-color-theme-color" target="_blank" rel="noopener noreferrer" aria-label={ctaLabel}>
									<span class="avia_button_icon avia_button_icon_left avia-iconfont avia-font-entypo-fontello" data-av_icon="" data-av_iconfont="entypo-fontello"></span>
									<span class="avia_iconbox_title">{ctaLabel}</span>
								</a>
							</div>
						</div>
						<div class="flex_column av-1dpis-7-e87f1e5339661fc59c2c7d731a89a9ed av_one_full avia-builder-el-last first flex_column_div av-zero-column-padding column-top-margin">
							<div id="av-masonry-1" class="av-masonry av-m5b51xzq-a4698678d47e528a1f67c419aa5501f5 noHover av-flex-size av-1px-gap av-hover-overlay-active av-masonry-animation- av-masonry-col-flexible av-caption-always av-caption-style- av-masonry-gallery" data-post_id="20">
								<div class="av-masonry-container isotope av-js-disabled">
									<div class="av-masonry-entry isotope-item av-masonry-item-no-image"></div>
									{[
										{ id: 99, base: 'Albert-Lea-Apartments-Complex-06', w: 705, h: 529, aspect: [1030,300,768,1536,1500,705], big: 1920 },
										{ id: 98, base: 'Albert-Lea-Apartments-Complex-05', w: 705, h: 529, aspect: [1030,300,768,1536,1500,705], big: 1920 },
										{ id: 94, base: 'Albert-Lea-Apartments-Complex-01', w: 705, h: 529, aspect: [1030,300,768,1536,1500,705], big: 1920 },
										{ id: 96, base: 'Albert-Lea-Apartments-Complex-03', w: 705, h: 529, aspect: [1030,300,768,1536,1500,705], big: 1920 },
										{ id: 95, base: 'Albert-Lea-Apartments-Complex-02', w: 705, h: 529, aspect: [1030,300,768,1536,1500,705], big: 1920 },
									].map((img) => (
										<a
											href={`/wp-content/uploads/2024/12/${img.base}-1030x773.jpg`}
											data-srcset={`/wp-content/uploads/2024/12/${img.base}-1030x773.jpg 1030w, /wp-content/uploads/2024/12/${img.base}-300x225.jpg 300w, /wp-content/uploads/2024/12/${img.base}-768x576.jpg 768w, /wp-content/uploads/2024/12/${img.base}-1536x1153.jpg 1536w, /wp-content/uploads/2024/12/${img.base}-1500x1126.jpg 1500w, /wp-content/uploads/2024/12/${img.base}-705x529.jpg 705w, /wp-content/uploads/2024/12/${img.base}.jpg 1920w`}
											data-sizes="(max-width: 1030px) 100vw, 1030px"
											aria-label={`image ${img.base}`}
											id={`av-masonry-1-item-${img.id}`}
											data-av-masonry-item={img.id}
											class="av-masonry-entry isotope-item attachment type-attachment status-inherit hentry av-masonry-item-with-image"
											title=""
											alt=""
											itemprop="thumbnailUrl"
										>
											<div class="av-inner-masonry-sizer"></div>
											<figure class="av-inner-masonry main_color">
												<div class="av-masonry-outerimage-container">
													<div class="av-masonry-image-container">
														<img
															decoding="async"
															width={img.w}
															height={img.h}
															fetchpriority="high"
															class={`wp-image-${img.id}`}
															src={`/wp-content/uploads/2024/12/${img.base}-705x529.jpg`}
															title=""
															alt=""
															srcset={`/wp-content/uploads/2024/12/${img.base}-705x529.jpg 705w, /wp-content/uploads/2024/12/${img.base}-300x225.jpg 300w, /wp-content/uploads/2024/12/${img.base}-1030x773.jpg 1030w, /wp-content/uploads/2024/12/${img.base}-768x576.jpg 768w, /wp-content/uploads/2024/12/${img.base}-1536x1153.jpg 1536w, /wp-content/uploads/2024/12/${img.base}-1500x1126.jpg 1500w, /wp-content/uploads/2024/12/${img.base}.jpg 1920w`}
															sizes="(max-width: 705px) 100vw, 705px"
														/>
													</div>
												</div>
											</figure>
										</a>
									))}
									{[
										{ id: 97, base: 'Albert-Lea-Apartments-Complex-04', w: 529, h: 705 },
										{ id: 101, base: 'Albert-Lea-Apartments-Complex-08', w: 529, h: 705 },
										{ id: 102, base: 'Albert-Lea-Apartments-Complex-09', w: 529, h: 705 },
										{ id: 100, base: 'Albert-Lea-Apartments-Complex-07', w: 529, h: 705 },
										{ id: 103, base: 'Albert-Lea-Apartments-Complex-10', w: 529, h: 705 },
									].map((img) => (
										<a
											href={`/wp-content/uploads/2024/12/${img.base}-773x1030.jpg`}
											data-srcset={`/wp-content/uploads/2024/12/${img.base}-773x1030.jpg 773w, /wp-content/uploads/2024/12/${img.base}-225x300.jpg 225w, /wp-content/uploads/2024/12/${img.base}-768x1023.jpg 768w, /wp-content/uploads/2024/12/${img.base}-1153x1536.jpg 1153w, /wp-content/uploads/2024/12/${img.base}-1126x1500.jpg 1126w, /wp-content/uploads/2024/12/${img.base}-529x705.jpg 529w, /wp-content/uploads/2024/12/${img.base}.jpg 1441w`}
											data-sizes="(max-width: 773px) 100vw, 773px"
											aria-label={`image ${img.base}`}
											id={`av-masonry-1-item-${img.id}`}
											data-av-masonry-item={img.id}
											class="av-masonry-entry isotope-item attachment type-attachment status-inherit hentry av-masonry-item-with-image"
											title=""
											alt=""
											itemprop="thumbnailUrl"
										>
											<div class="av-inner-masonry-sizer"></div>
											<figure class="av-inner-masonry main_color">
												<div class="av-masonry-outerimage-container">
													<div class="av-masonry-image-container">
														<img
															decoding="async"
															width={img.w}
															height={img.h}
															fetchpriority="high"
															class={`wp-image-${img.id}`}
															src={`/wp-content/uploads/2024/12/${img.base}-529x705.jpg`}
															title=""
															alt=""
															srcset={`/wp-content/uploads/2024/12/${img.base}-529x705.jpg 529w, /wp-content/uploads/2024/12/${img.base}-225x300.jpg 225w, /wp-content/uploads/2024/12/${img.base}-773x1030.jpg 773w, /wp-content/uploads/2024/12/${img.base}-768x1023.jpg 768w, /wp-content/uploads/2024/12/${img.base}-1153x1536.jpg 1153w, /wp-content/uploads/2024/12/${img.base}-1126x1500.jpg 1126w, /wp-content/uploads/2024/12/${img.base}.jpg 1441w`}
															sizes="(max-width: 529px) 100vw, 529px"
														/>
													</div>
												</div>
											</figure>
										</a>
									))}
									{[
										{ id: 13, base: 'IMG_0117', w: 720, h: 1080, srcw: '683', srch: '1024' },
										{ id: 12, base: 'IMG_0115', w: 720, h: 1080, srcw: '683', srch: '1024' },
									].map((img) => (
										<a
											href={`/wp-content/uploads/2020/03/${img.base}-683x1024.jpg`}
											data-srcset={`/wp-content/uploads/2020/03/${img.base}-683x1024.jpg 683w, /wp-content/uploads/2020/03/${img.base}-200x300.jpg 200w, /wp-content/uploads/2020/03/${img.base}.jpg 720w`}
											data-sizes="(max-width: 683px) 100vw, 683px"
											aria-label={`image ${img.base}`}
											id={`av-masonry-1-item-${img.id}`}
											data-av-masonry-item={img.id}
											class="av-masonry-entry isotope-item attachment type-attachment status-inherit hentry av-masonry-item-with-image"
											title=""
											alt=""
											itemprop="thumbnailUrl"
										>
											<div class="av-inner-masonry-sizer"></div>
											<figure class="av-inner-masonry main_color">
												<div class="av-masonry-outerimage-container">
													<div class="av-masonry-image-container">
														<img
															decoding="async"
															width={img.w}
															height={img.h}
															fetchpriority="high"
															class={`wp-image-${img.id}`}
															src={`/wp-content/uploads/2020/03/${img.base}.jpg`}
															title=""
															alt=""
															srcset={`/wp-content/uploads/2020/03/${img.base}.jpg 720w, /wp-content/uploads/2020/03/${img.base}-200x300.jpg 200w, /wp-content/uploads/2020/03/${img.base}-683x1024.jpg 683w`}
															sizes="(max-width: 720px) 100vw, 720px"
														/>
													</div>
												</div>
											</figure>
										</a>
									))}
									<a
										href="/wp-content/uploads/2020/03/IMG_0114-1024x683.jpg"
										data-srcset="/wp-content/uploads/2020/03/IMG_0114-1024x683.jpg 1024w, /wp-content/uploads/2020/03/IMG_0114-300x200.jpg 300w, /wp-content/uploads/2020/03/IMG_0114-768x512.jpg 768w, /wp-content/uploads/2020/03/IMG_0114-1536x1024.jpg 1536w, /wp-content/uploads/2020/03/IMG_0114-1200x800.jpg 1200w, /wp-content/uploads/2020/03/IMG_0114.jpg 1620w"
										data-sizes="(max-width: 1024px) 100vw, 1024px"
										aria-label="image IMG_0114"
										id="av-masonry-1-item-11"
										data-av-masonry-item="11"
										class="av-masonry-entry isotope-item attachment type-attachment status-inherit hentry av-masonry-item-with-image"
										title=""
										alt=""
										itemprop="thumbnailUrl"
									>
										<div class="av-inner-masonry-sizer"></div>
										<figure class="av-inner-masonry main_color">
											<div class="av-masonry-outerimage-container">
												<div class="av-masonry-image-container">
													<img decoding="async" width="1620" height="1080" fetchpriority="high" class="wp-image-11" src="/wp-content/uploads/2020/03/IMG_0114.jpg" title="" alt="" srcset="/wp-content/uploads/2020/03/IMG_0114.jpg 1620w, /wp-content/uploads/2020/03/IMG_0114-300x200.jpg 300w, /wp-content/uploads/2020/03/IMG_0114-1024x683.jpg 1024w, /wp-content/uploads/2020/03/IMG_0114-768x512.jpg 768w, /wp-content/uploads/2020/03/IMG_0114-1536x1024.jpg 1536w, /wp-content/uploads/2020/03/IMG_0114-1200x800.jpg 1200w" sizes="(max-width: 1620px) 100vw, 1620px" />
												</div>
											</div>
										</figure>
									</a>
									<a
										href="/wp-content/uploads/2020/03/IMG_0112-1024x683.jpg"
										data-srcset="/wp-content/uploads/2020/03/IMG_0112-1024x683.jpg 1024w, /wp-content/uploads/2020/03/IMG_0112-300x200.jpg 300w, /wp-content/uploads/2020/03/IMG_0112-768x512.jpg 768w, /wp-content/uploads/2020/03/IMG_0112-1536x1024.jpg 1536w, /wp-content/uploads/2020/03/IMG_0112-1200x800.jpg 1200w, /wp-content/uploads/2020/03/IMG_0112.jpg 1620w"
										data-sizes="(max-width: 1024px) 100vw, 1024px"
										aria-label="image IMG_0112"
										id="av-masonry-1-item-10"
										data-av-masonry-item="10"
										class="av-masonry-entry isotope-item attachment type-attachment status-inherit hentry av-masonry-item-with-image"
										title=""
										alt=""
										itemprop="thumbnailUrl"
									>
										<div class="av-inner-masonry-sizer"></div>
										<figure class="av-inner-masonry main_color">
											<div class="av-masonry-outerimage-container">
												<div class="av-masonry-image-container">
													<img decoding="async" width="1620" height="1080" fetchpriority="high" class="wp-image-10" src="/wp-content/uploads/2020/03/IMG_0112.jpg" title="" alt="" srcset="/wp-content/uploads/2020/03/IMG_0112.jpg 1620w, /wp-content/uploads/2020/03/IMG_0112-300x200.jpg 300w, /wp-content/uploads/2020/03/IMG_0112-1024x683.jpg 1024w, /wp-content/uploads/2020/03/IMG_0112-768x512.jpg 768w, /wp-content/uploads/2020/03/IMG_0112-1536x1024.jpg 1536w, /wp-content/uploads/2020/03/IMG_0112-1200x800.jpg 1200w" sizes="(max-width: 1620px) 100vw, 1620px" />
												</div>
											</div>
										</figure>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- close content main div -->
		</div>
	</div>

	<div id="av_section_3" class="avia-section av-1hc0-05525643e271b54efd063cfa42bcc91a main_color avia-section-default avia-no-border-styling container_wrap fullsize">
		<div class="container av-section-cont-open">
			<div class="template-page content av-content-full alpha units">
				<div class="post-entry post-entry-type-page post-entry-20">
					<div class="entry-content-wrapper clearfix">
						<div class="flex_column av-3ctpg-9bbe0efadb99c99d0e15fb24263f283f av_one_half avia-builder-el-first first flex_column_div av-zero-column-padding">
							<div class="av-special-heading av-m5b4yyru-67f8ef9958ee6f288165aa299b2d0de8 av-special-heading-h2 blockquote modern-quote avia-builder-el-first">
								<h2 class="av-special-heading-tag" itemprop="headline">{officeHeading}</h2>
								<div class="special-heading-border"><div class="special-heading-inner-border"></div></div>
							</div>
							<section class="av_textblock_section av-2hej8-73335880b3cf0a5c47548cc6a66ad983" itemscope itemtype="https://schema.org/CreativeWork">
								<div class="avia_textblock" itemprop="text">
									<p style="font-weight: 400;">{officeName}</p>
									<p style="font-weight: 400;"><a href={officeMapUrl} target="_blank" rel="noopener noreferrer">{officeAddress}</a></p>
									<p style="font-weight: 400;"><a href={`tel:${officePhoneNumber}`}>{officePhoneLabel}</a></p>
								</div>
							</section>
						</div>
						<div class="flex_column av-7blg-6502b16a1b1f866cb67270ff1a45588b av_one_half avia-builder-el-last flex_column_div av-zero-column-padding">
							<div class="av_gmaps_sc_main_wrap av_gmaps_main_wrap">
								<div class="avia-google-map-container" style="height: 400px;">
									<iframe
										src="https://www.google.com/maps?q=909+Janson+Street,+Albert+Lea,+MN+56007&output=embed"
										width="100%"
										height="400"
										style="border:0"
										loading="lazy"
										referrerpolicy="no-referrer-when-downgrade"
										title="Map showing the location of Albert Lea Apartments"
									></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- close content main div -->
		</div>
	</div>

</BaseLayout>
